/* src/components/Navbar.css */
.navbar {
    background: #ffffff;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: sticky;
    /* Posicionamiento fijo */
    top: 0;
    /* Alineado en la parte superior */
    left: 0;
    /* Alineado a la izquierda */
    transition: height 0.3s ease-in-out;
    /* Transición suave de la altura */
    z-index: 1000;
    /* Asegúrate que el navbar esté sobre otros elementos */
}

.nav-logo {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    /* Ajusta el padding para centrar verticalmente */
}

.nav-links {
    display: flex;
}

.nav-item {
    color: #333;
    text-decoration: none;
    padding: 0 1rem;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.nav-item:hover {
    color: #007bff;
}

/* Estilo cuando se hace scroll hacia abajo */
.navbar.scrolled {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    /* Altura reducida */
    padding: 0 1rem;
    /* Menor padding */
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }

    .navbar.scrolled {
        height: auto;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-item {
        padding: 0.5rem 0;
    }
}


.nav-item:hover {
    color: #007bff;
    /* Cambio de color al pasar el mouse */
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        /* Stack verticalmente en pantallas pequeñas */
        height: auto;
        /* Altura automática */
    }

    .nav-links {
        flex-direction: column;
        /* Links en columna */
    }

    .nav-item {
        padding: 0.5rem 0;
        /* Espaciado vertical entre links */
    }
}